Firmware/LaunchPad_MSP430G2553_LTC4624JF_LED_Driver/.launches/LaunchPad_MSP430G2553_LTC4624JF_LED_Driver.launch
Firmware/LaunchPad_MSP430G2553_LTC4624JF_LED_Driver/.settings/org.eclipse.core.resources.prefs
Firmware/LaunchPad_MSP430G2553_LTC4624JF_LED_Driver/Debug/LTC4624JF.pp
Firmware/LaunchPad_MSP430G2553_LTC4624JF_LED_Driver/Debug/ccsObjs.opt
Firmware/LaunchPad_MSP430G2553_LTC4624JF_LED_Driver/Debug/main.pp
Create_KiCAD_Project_Directory.cmd
LostFile_RTF_331901454.rtf
LostFile_RTF_331901462.rtf
LostFile_RTF_331915070.rtf
LostFile_RTF_331915142.rtf
LostFile_RTF_349156342.rtf
LostFile_RTF_349174754.rtf
LostFile_RTF_349174934.rtf
SKU's.xlsx
Firmware/LaunchPad_MSP430G2553_LTC4624JF_Temp_Display/.launches/LaunchPad_MSP430G2553_LTC4624JF_Temp_Display.launch
Firmware/LaunchPad_MSP430G2553_LTC4624JF_Temp_Display/.settings/org.eclipse.core.resources.prefs
Firmware/LaunchPad_MSP430G2553_LTC4624JF_Temp_Display/Debug/LTC4624JF.pp
Firmware/LaunchPad_MSP430G2553_LTC4624JF_Temp_Display/Debug/ccsObjs.opt
Firmware/LaunchPad_MSP430G2553_LTC4624JF_Temp_Display/Debug/main.pp
Hardware/BOM/LaunchPad_3x7-Segment_Booster_Pack_BOM_wPricing.xlsx
Hardware/OSH_Park_Script.bat
Hardware/PCB Area & Cost Calculator.ods
Photos/CIMG7204.JPG
Photos/CIMG7205.JPG
Photos/Transparencies/Untitled.png
Photos/Transparencies/Untitled.xcf
Photos/Transparencies/Untitled2.png
Photos/Transparencies/Untitled2.xcf
